*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
}
.principal{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100%;

}
.celular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}
.celular img{
    height: 50rem;
}

.direita{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    
}
.grupo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}
.caixa1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 19rem;
}


.foto-perfil{
   border-radius: 60%;
   height: 6rem;
   
}
.titulo{
    text-align: center;
}
.link-botao{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}
.link{
    color: #0095f6;
    margin-top: 1rem;


}
.nao{
    color: #888;
}
.aplicativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1.3rem 0;
}
.botoes{
    margin: 1.3rem;
    width: 10rem;
    height: 3rem;
    
}
@media (max-width:1024px){
    .principal{
        width: 90%;
    }
    
}
@media (max-width:650px){
    body{
        background-color: #fff;
    }
    .grupo{
        border: 1px solid #fff;
    }
    .principal{
        width: 90%;
    }
    .celular{
        display: none;
    }
    .direita{
        width: 100%;
    }
}